# https://git-scm.com/docs/git-config
[alias]
	br = branch
	df = diff
	dwc = diff -w -M --color-words
	fix = rebase -i origin/master
	ll = log -p
	st = status
	rb = rebase
	rbc = rebase --continue
	re = remote
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	up = pull --rebase

[core]
	excludesfile = ~/.gitignore
	filemode = false
	bare = false
	preloadindex = true

# unicode support (git status):
	precomposeunicode = true
	quotePath = false

[color]
	ui = auto
	interactive = auto

[credential]
	helper = osxkeychain

[push]
	default = simple
	followTags = true # git 2.4.1+

[init]
	templatedir = ~/.git_templates

[user]
    name = andrewp-as-is
    email = andrewp-as-is@users.noreply.github.com
