# https://docs.npmjs.com/misc/config#npmrc-files
# /path/to/project/.npmrc
# $HOME/.npmrc
# $PREFIX/etc/npmrc
# /usr/local/Cellar/node/X.Y.Z/libexec/lib/node_modules/npm/npmrc

cache=~/Library/Caches/npm
init.author.name=andrewp-as-is
init.author.url=https://github.com/andrewp-as-is

# https://www.npmjs.com/settings/USERNAME/tokens
# npm token list
//registry.npmjs.org/:_authToken=${NPM_TOKEN}

# /usr/local
# ${HOME}/.node
prefix = /usr/local
