h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	text-align:center;
}

#stopwatch h6 {
	background-image: url('png/stopwatch.png');
	background-repeat: no-repeat;
}

* {
	line-height: 85%;
}

.sum {
	font-weight: bold;
	color: green;
}

.b {
	font-weight: bold;
}

.red {
	color: red;
}
.yellow {
	color: yellow;
}
.green {
	color: green;
}
.white {
	color: white;
}
.grey {
	color: grey;
}
