<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>KeepAlive</key>
  <true/>
  <key>Label</key>
  <string>postgresql.github_raw</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/postgres</string>
    <string>-D</string>
    <string>/Volumes/HDD/var/postgres/github_raw</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>/opt/homebrew</string>
<key>EnvironmentVariables</key>
<dict>
  <key>LC_ALL</key>
  <string>en_US.UTF-8</string>
</dict>
<!--
1) launchd external disk logs NOT SUPPORTED
2) SSD healthcare
-->
  <key>StandardOutPath</key>
  <string>/dev/null</string>
  <key>StandardErrorPath</key>
  <string>/dev/null</string>
</dict>
</plist>
